/*------------------------------------------------------------
    #IMAGES VARS SCSS
-------------------------------------------------------------*//*------------------------------------------------------------
    #CONFIG GRID
-------------------------------------------------------------*//*----------------------------------------------------------
    #GENERIC
----------------------------------------------------------*//*--------------------------------
	#RESET
--------------------------------*/html,body,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,article,aside,details,dialog,figcaption,figure,footer,header,main,nav,section,summary,audio,canvas,video,mark,code,kbd,pre,samp,a,abbr,acronym,address,code,del,dfn,em,strong,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,div {
  margin: 0;
  padding: 0;
  border: none;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 120%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

input,button,select,textarea {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
}

ul,ol,dl {
  list-style: none;
}/*-----------------------------------
	#TAGS HTML5 BROWSER NO SUPPORT
-------------------------------------*/article,aside,details,dialog,figcaption,figure,footer,header,main,nav,section,summary {
  display: block;
}

audio,canvas,video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

code,kbd,pre,samp {
  font-family: monospace, serif;
  font-size: 1.6em;
}/*-----------------------------------
	#LINKS
-------------------------------------*/a {
  cursor: pointer;
}

a:visited {
  text-decoration: none;
}/*-----------------------------------
	#LINKS COLOR ORIGINAL
-------------------------------------*/a:hover {
  text-decoration: underline;
}

a:focus,a:active {
  text-decoration: none;
}/*-----------------------------------
	#HEADINGS, WITH AND WITHOUT LINK
-------------------------------------*/h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  color: inherit;
}/*-----------------------------------
	#BUTTONS
-------------------------------------*/button,input[type="button"],input[type="reset"],input[type="submit"] {
  cursor: pointer;
}

button[disabled],input[disabled] {
  cursor: default;
}/*-----------------------------------
	#RESET TABLE
-------------------------------------*/table {
  border-collapse: collapse;
  border-spacing: 0;
}/*------------------------------------------------------------------------
    #BOX-SIZING
-------------------------------------------------------------------------*//**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */html {
  box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}/*----------------------------------------------------------
    #BASE
----------------------------------------------------------*//*-------------------------------------------
	#FONT GENERATOR
---------------------------------------------*//*----------------------------------------------------------------
    #HEADINGS
------------------------------------------------------------------*/h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: "lato-regular";
  font-weight: normal;
  color: black;
  line-height: 120%;
}

h1,.acr-heading-1 {
  font-size: 100px;
  font-size: 6.25rem;
  font-family: lato-light;
  text-transform: uppercase;
}

h2,.acr-heading-2 {
  font-size: 40px;
  font-size: 2.5rem;
  font-family: lato-regular;
  text-transform: uppercase;
}

h3,.acr-heading-3 {
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
}

h4,.acr-heading-4 {
  font-size: 15px;
  font-size: 0.9375rem;
}

h5,.acr-heading-5 {
  font-size: 13px;
  font-size: 0.8125rem;
}

h6,.acr-heading-6 {
  font-size: 11px;
  font-size: 0.6875rem;
}/*------------------------------------
    #IMAGE
------------------------------------*/img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

.gm-style img,img[width],img[height] {
  max-width: none;
}/*------------------------------------
    #LISTS
-------------------------------------*/li > ul,li > ol {
  margin-bottom: 0;
}/*------------------------------------
    #HTML
------------------------------------*/html {
  font-size: 16px;
  line-height: 120%;
  background-color: white;
  color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "lato-regular";
  position: relative;
}/*----------------------------------------------------------
    #OBJETCS
----------------------------------------------------------*//*------------------------------------*    #BOX
\*------------------------------------*//**
 * The box object simply boxes off content.
 *//**
 * 1. So we can apply the `.box` class to naturally-inline elements.
 */.acr-box {
  display: block;
 /* [1] */
  padding: 30px;
  padding: 1.875rem;
  background-color: #fff;
}/**
     * Flush (i.e. no padding) box.
     */.acr-box--flush {
  padding: 0;
}/**
     * Tiny box.
     */.acr-box--tiny {
  padding: 8px;
  padding: 0.5rem;
}/**
     * Small box.
     */.acr-box--small {
  padding: 15px;
  padding: 0.9375rem;
}/**
     * Huge box.
     */.acr-box--transparent {
  background-color: transparent;
}/**
     * Huge box.
     */.acr-box--no-lr {
  padding-right: 0;
  padding-left: 0;
}/*------------------------------------------------------------
    #GRID--FLOAT
-------------------------------------------------------------*/.xs-inline-visible,.xs-visible,.sm-inline-visible,.sm-visible,.md-inline-visible,.md-visible,.lg-inline-visible,.lg-visible,.xl-inline-visible,.xl-visible {
  display: none !important;
}

.row:before {
  content: "";
  display: block;
  clear: both;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}/*-------------------------------------------------------------
    #BUTTONS
-----------------------------------------------------------------*//*------------------------------------
    #WRAPPER
------------------------------------*/.wrapper {
  max-width: 1200px;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 15px;
  padding: 0 0.9375rem;
}/*----------------------------------------------------------
    #COMPONENTS
----------------------------------------------------------*/.acr-background {
  background: url("../assets/img/contents/00_TELCO_fondo.gif");
}/*----------------------------------------------------------
    #TRUMPS
----------------------------------------------------------*//*------------------------------------*    #CLEARFIX
\*------------------------------------*//**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix placeholder class `%clearfix` with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */.clearfix:after,.acr-box:after {
  content: "";
  display: block;
  clear: both;
}/*------------------------------------*    #FLOAT
\*------------------------------------*//**
 * Float left.
 */.u-float-left {
  float: left !important;
}/**
 * Float right.
 */.u-float-right {
  float: right !important;
}/**
 * Float none.
 */.u-float-none {
  float: none !important;
}/*------------------------------------*	#HEADINGS-RESPONSIVE
\*------------------------------------*//**
 * Based on _trumps.headings, this will generate resonsive equivalents of the
 * headings which change their font-size depending on the media-queries
 * set in _settings.responsive.
 *//*------------------------------------*    #HIDE
\*------------------------------------*//**
 * Hide elements on certain breakpoints based on your responsive settings.
 */.u-hide {
  display: none !important;
}

.u-hideAccessible {
  position: absolute;
  top: -9999em;
}/*------------------------------------*    #TEXT-ALIGN
\*------------------------------------*//**
 * Text align left.
 */.u-text-left {
  text-align: left !important;
}/**
 * Text align right.
 */.u-text-right {
  text-align: right !important;
}/**
 * Text align center.
 */.u-text-center {
  text-align: center !important;
}/*------------------------------------*    #TEXT-TRANSFORM
\*------------------------------------*//**
 * Text uppercase.
 */.u-text-uppercase {
  text-transform: uppercase !important;
}/**
 * Text align right.
 */.u-text-lowercase {
  text-transform: lowercase !important;
}/**
 * Text align center.
 */.u-text-capitalize {
  text-transform: capitalize !important;
}

.u-active {
  display: block !important;
}

@font-face {
  font-family:"lato-black";font-style:normal;font-weight:normal;src:url("../assets/fonts/Lato/Lato-Black.ttf") format("truetype");
}

@font-face {
  font-family:"lato-black--italic";font-style:normal;font-weight:normal;src:url("../assets/fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family:"lato-bold";font-style:normal;font-weight:normal;src:url("../assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family:"lato-bold--italic";font-style:normal;font-weight:normal;src:url("../assets/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family:"lato-hairline";font-style:normal;font-weight:normal;src:url("../assets/fonts/Lato/Lato-Hairline.ttf") format("truetype");
}

@font-face {
  font-family:"lato-hairline--italic";font-style:normal;font-weight:normal;src:url("../assets/fonts/Lato/Lato-HairlineItalic.ttf") format("truetype");
}

@font-face {
  font-family:"lato-italic";font-style:normal;font-weight:normal;src:url("../assets/fonts/Lato/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family:"lato-light";font-style:normal;font-weight:normal;src:url("../assets/fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family:"lato-light--italic";font-style:normal;font-weight:normal;src:url("../assets/fonts/Lato/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family:"lato-regular";font-style:normal;font-weight:normal;src:url("../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .u-hide-retina {
    display: none !important;
  }
}

@media screen and (min-width: 64em) {
  .u-hide-desk {
    display: none !important;
  }
}

@media (min-width: 320px) {
  .gridContainer {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12 {
    float: left;
    box-sizing: border-box;
  }

  [class*="col-"] {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .row .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .col-xs-offset-0 {
    margin-left: 0%;
  }

  .col-xs-pull-0 {
    right: 0%;
  }

  .col-xs-push-0 {
    left: 0%;
  }

  .col-xs-offset-1 {
    margin-left: 8.33333%;
  }

  .col-xs-pull-1 {
    right: 8.33333%;
  }

  .col-xs-push-1 {
    left: 8.33333%;
  }

  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }

  .col-xs-pull-2 {
    right: 16.66667%;
  }

  .col-xs-push-2 {
    left: 16.66667%;
  }

  .col-xs-offset-3 {
    margin-left: 25%;
  }

  .col-xs-pull-3 {
    right: 25%;
  }

  .col-xs-push-3 {
    left: 25%;
  }

  .col-xs-offset-4 {
    margin-left: 33.33333%;
  }

  .col-xs-pull-4 {
    right: 33.33333%;
  }

  .col-xs-push-4 {
    left: 33.33333%;
  }

  .col-xs-offset-5 {
    margin-left: 41.66667%;
  }

  .col-xs-pull-5 {
    right: 41.66667%;
  }

  .col-xs-push-5 {
    left: 41.66667%;
  }

  .col-xs-offset-6 {
    margin-left: 50%;
  }

  .col-xs-pull-6 {
    right: 50%;
  }

  .col-xs-push-6 {
    left: 50%;
  }

  .col-xs-offset-7 {
    margin-left: 58.33333%;
  }

  .col-xs-pull-7 {
    right: 58.33333%;
  }

  .col-xs-push-7 {
    left: 58.33333%;
  }

  .col-xs-offset-8 {
    margin-left: 66.66667%;
  }

  .col-xs-pull-8 {
    right: 66.66667%;
  }

  .col-xs-push-8 {
    left: 66.66667%;
  }

  .col-xs-offset-9 {
    margin-left: 75%;
  }

  .col-xs-pull-9 {
    right: 75%;
  }

  .col-xs-push-9 {
    left: 75%;
  }

  .col-xs-offset-10 {
    margin-left: 83.33333%;
  }

  .col-xs-pull-10 {
    right: 83.33333%;
  }

  .col-xs-push-10 {
    left: 83.33333%;
  }

  .col-xs-offset-11 {
    margin-left: 91.66667%;
  }

  .col-xs-pull-11 {
    right: 91.66667%;
  }

  .col-xs-push-11 {
    left: 91.66667%;
  }

  .col-xs-clear-right:after {
    content: "";
    display: block;
    clear: both;
  }

  .col-xs-clear-left:before {
    content: "";
    display: block;
    clear: both;
  }

  .col-xs-clear-all:before {
    content: "";
    display: block;
    clear: both;
  }

  .col-xs-clear-all:after {
    content: "";
    display: block;
    clear: both;
  }

  .col-xs-noGutter-right {
    padding-right: 0;
  }

  .col-xs-noGutter-left {
    padding-left: 0;
  }

  .col-xs-noGutter-all {
    padding-left: 0;
    padding-right: 0;
  }

  .col-xs-1 {
    width: 8.33333%;
  }

  .col-xs-2 {
    width: 16.66667%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.33333%;
  }

  .col-xs-5 {
    width: 41.66667%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.33333%;
  }

  .col-xs-8 {
    width: 66.66667%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.33333%;
  }

  .col-xs-11 {
    width: 91.66667%;
  }

  .col-xs-12 {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .xs-visible {
    display: block !important;
  }

  .xs-inline-visible {
    display: inline-block !important;
  }

  .xs-hide {
    display: none !important;
  }

  .col-xs-end {
    float: right;
  }
}

@media (min-width: 480px) {
  .gridContainer {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
    float: left;
    box-sizing: border-box;
  }

  [class*="col-"] {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .row .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }

  .col-sm-pull-0 {
    right: 0%;
  }

  .col-sm-push-0 {
    left: 0%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-pull-2 {
    right: 16.66667%;
  }

  .col-sm-push-2 {
    left: 16.66667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-pull-4 {
    right: 33.33333%;
  }

  .col-sm-push-4 {
    left: 33.33333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-pull-5 {
    right: 41.66667%;
  }

  .col-sm-push-5 {
    left: 41.66667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-pull-7 {
    right: 58.33333%;
  }

  .col-sm-push-7 {
    left: 58.33333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-pull-8 {
    right: 66.66667%;
  }

  .col-sm-push-8 {
    left: 66.66667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-pull-10 {
    right: 83.33333%;
  }

  .col-sm-push-10 {
    left: 83.33333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .col-sm-pull-11 {
    right: 91.66667%;
  }

  .col-sm-push-11 {
    left: 91.66667%;
  }

  .col-sm-clear-right:after {
    content: "";
    display: block;
    clear: both;
  }

  .col-sm-clear-left:before {
    content: "";
    display: block;
    clear: both;
  }

  .col-sm-clear-all:before {
    content: "";
    display: block;
    clear: both;
  }

  .col-sm-clear-all:after {
    content: "";
    display: block;
    clear: both;
  }

  .col-sm-noGutter-right {
    padding-right: 0;
  }

  .col-sm-noGutter-left {
    padding-left: 0;
  }

  .col-sm-noGutter-all {
    padding-left: 0;
    padding-right: 0;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .sm-visible {
    display: block !important;
  }

  .sm-inline-visible {
    display: inline-block !important;
  }

  .sm-hide {
    display: none !important;
  }

  .col-sm-end {
    float: right;
  }
}

@media (min-width: 768px) {
  .gridContainer {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {
    float: left;
    box-sizing: border-box;
  }

  [class*="col-"] {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .row .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-pull-0 {
    right: 0%;
  }

  .col-md-push-0 {
    left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-pull-2 {
    right: 16.66667%;
  }

  .col-md-push-2 {
    left: 16.66667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-pull-4 {
    right: 33.33333%;
  }

  .col-md-push-4 {
    left: 33.33333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-pull-5 {
    right: 41.66667%;
  }

  .col-md-push-5 {
    left: 41.66667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-pull-7 {
    right: 58.33333%;
  }

  .col-md-push-7 {
    left: 58.33333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-pull-8 {
    right: 66.66667%;
  }

  .col-md-push-8 {
    left: 66.66667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-pull-10 {
    right: 83.33333%;
  }

  .col-md-push-10 {
    left: 83.33333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .col-md-pull-11 {
    right: 91.66667%;
  }

  .col-md-push-11 {
    left: 91.66667%;
  }

  .col-md-clear-right:after {
    content: "";
    display: block;
    clear: both;
  }

  .col-md-clear-left:before {
    content: "";
    display: block;
    clear: both;
  }

  .col-md-clear-all:before {
    content: "";
    display: block;
    clear: both;
  }

  .col-md-clear-all:after {
    content: "";
    display: block;
    clear: both;
  }

  .col-md-noGutter-right {
    padding-right: 0;
  }

  .col-md-noGutter-left {
    padding-left: 0;
  }

  .col-md-noGutter-all {
    padding-left: 0;
    padding-right: 0;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .md-visible {
    display: block !important;
  }

  .md-inline-visible {
    display: inline-block !important;
  }

  .md-hide {
    display: none !important;
  }

  .col-md-end {
    float: right;
  }
}

@media (min-width: 1024px) {
  .gridContainer {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {
    float: left;
    box-sizing: border-box;
  }

  [class*="col-"] {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .row .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .col-lg-pull-0 {
    right: 0%;
  }

  .col-lg-push-0 {
    left: 0%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-pull-2 {
    right: 16.66667%;
  }

  .col-lg-push-2 {
    left: 16.66667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-pull-4 {
    right: 33.33333%;
  }

  .col-lg-push-4 {
    left: 33.33333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-pull-5 {
    right: 41.66667%;
  }

  .col-lg-push-5 {
    left: 41.66667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-pull-7 {
    right: 58.33333%;
  }

  .col-lg-push-7 {
    left: 58.33333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-pull-8 {
    right: 66.66667%;
  }

  .col-lg-push-8 {
    left: 66.66667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-pull-10 {
    right: 83.33333%;
  }

  .col-lg-push-10 {
    left: 83.33333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lg-pull-11 {
    right: 91.66667%;
  }

  .col-lg-push-11 {
    left: 91.66667%;
  }

  .col-lg-clear-right:after {
    content: "";
    display: block;
    clear: both;
  }

  .col-lg-clear-left:before {
    content: "";
    display: block;
    clear: both;
  }

  .col-lg-clear-all:before {
    content: "";
    display: block;
    clear: both;
  }

  .col-lg-clear-all:after {
    content: "";
    display: block;
    clear: both;
  }

  .col-lg-noGutter-right {
    padding-right: 0;
  }

  .col-lg-noGutter-left {
    padding-left: 0;
  }

  .col-lg-noGutter-all {
    padding-left: 0;
    padding-right: 0;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lg-visible {
    display: block !important;
  }

  .lg-inline-visible {
    display: inline-block !important;
  }

  .lg-hide {
    display: none !important;
  }

  .col-lg-end {
    float: right;
  }
}

@media (min-width: 1280px) {
  .gridContainer {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12 {
    float: left;
    box-sizing: border-box;
  }

  [class*="col-"] {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .row .row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
  }

  .col-xl-offset-0 {
    margin-left: 0%;
  }

  .col-xl-pull-0 {
    right: 0%;
  }

  .col-xl-push-0 {
    left: 0%;
  }

  .col-xl-offset-1 {
    margin-left: 8.33333%;
  }

  .col-xl-pull-1 {
    right: 8.33333%;
  }

  .col-xl-push-1 {
    left: 8.33333%;
  }

  .col-xl-offset-2 {
    margin-left: 16.66667%;
  }

  .col-xl-pull-2 {
    right: 16.66667%;
  }

  .col-xl-push-2 {
    left: 16.66667%;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-pull-3 {
    right: 25%;
  }

  .col-xl-push-3 {
    left: 25%;
  }

  .col-xl-offset-4 {
    margin-left: 33.33333%;
  }

  .col-xl-pull-4 {
    right: 33.33333%;
  }

  .col-xl-push-4 {
    left: 33.33333%;
  }

  .col-xl-offset-5 {
    margin-left: 41.66667%;
  }

  .col-xl-pull-5 {
    right: 41.66667%;
  }

  .col-xl-push-5 {
    left: 41.66667%;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-pull-6 {
    right: 50%;
  }

  .col-xl-push-6 {
    left: 50%;
  }

  .col-xl-offset-7 {
    margin-left: 58.33333%;
  }

  .col-xl-pull-7 {
    right: 58.33333%;
  }

  .col-xl-push-7 {
    left: 58.33333%;
  }

  .col-xl-offset-8 {
    margin-left: 66.66667%;
  }

  .col-xl-pull-8 {
    right: 66.66667%;
  }

  .col-xl-push-8 {
    left: 66.66667%;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-pull-9 {
    right: 75%;
  }

  .col-xl-push-9 {
    left: 75%;
  }

  .col-xl-offset-10 {
    margin-left: 83.33333%;
  }

  .col-xl-pull-10 {
    right: 83.33333%;
  }

  .col-xl-push-10 {
    left: 83.33333%;
  }

  .col-xl-offset-11 {
    margin-left: 91.66667%;
  }

  .col-xl-pull-11 {
    right: 91.66667%;
  }

  .col-xl-push-11 {
    left: 91.66667%;
  }

  .col-xl-clear-right:after {
    content: "";
    display: block;
    clear: both;
  }

  .col-xl-clear-left:before {
    content: "";
    display: block;
    clear: both;
  }

  .col-xl-clear-all:before {
    content: "";
    display: block;
    clear: both;
  }

  .col-xl-clear-all:after {
    content: "";
    display: block;
    clear: both;
  }

  .col-xl-noGutter-right {
    padding-right: 0;
  }

  .col-xl-noGutter-left {
    padding-left: 0;
  }

  .col-xl-noGutter-all {
    padding-left: 0;
    padding-right: 0;
  }

  .col-xl-1 {
    width: 8.33333%;
  }

  .col-xl-2 {
    width: 16.66667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.33333%;
  }

  .col-xl-5 {
    width: 41.66667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.33333%;
  }

  .col-xl-8 {
    width: 66.66667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.33333%;
  }

  .col-xl-11 {
    width: 91.66667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}

@media (min-width: 1280px) and (max-width: 1999px) {
  .xl-visible {
    display: block !important;
  }

  .xl-inline-visible {
    display: inline-block !important;
  }

  .xl-hide {
    display: none !important;
  }

  .col-xl-end {
    float: right;
  }
}

@media screen and (max-width: 767px) {
  .u-hide-md {
    display: none !important;
  }
}

@media screen and (max-width: 63.9375em) {
  .u-hide-lg {
    display: none !important;
  }
}

@media screen and (max-width: 45em) and (max-width: 63.9375em) {
  .u-hide-sm {
    display: none !important;
  }
}

@media screen and (max-width: 44.9375em) {
  .u-hide-xs {
    display: none !important;
  }
}
